body {
    color: white;
    background-color: rgb(255, 127, 255);
}
.heading {
    width: 80%;
    font-size: 22px;  
}
.name_of_objects  {
    color: rgb(158, 78, 255);
    font-size: large;
}
#camera {  
    border: 2px dashed black;  
    width: 350;  
    height: 300;
}
#result_object_name#result_object_accuracy {	
    color: yellow;
}